In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Butaritari,3.0707,172.7902,81.36,78,74,15.90,KI,2022-03-10 00:38:14
1,1,Punta Arenas,-53.1500,-70.9167,50.11,76,75,12.66,CL,2022-03-10 00:34:25
2,2,Asyut,27.1810,31.1837,57.38,56,8,9.35,EG,2022-03-10 00:37:58
3,3,Pevek,69.7008,170.3133,19.26,74,11,10.87,RU,2022-03-10 00:38:14
4,4,Chuy,-33.6971,-53.4616,69.10,83,100,8.75,UY,2022-03-10 00:38:15

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 61
What is the maximum temperature you would like for your trip? 966

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Butaritari,3.0707,172.7902,81.36,78,74,15.90,KI,2022-03-10 00:38:14
4,4,Chuy,-33.6971,-53.4616,69.10,83,100,8.75,UY,2022-03-10 00:38:15
6,6,Bengkulu,-3.8004,102.2655,78.28,79,96,2.66,ID,2022-03-10 00:37:10
13,13,Pisco,-13.7000,-76.2167,71.65,78,0,17.27,PE,2022-03-10 00:34:49
14,14,Vila Velha,-20.3297,-40.2925,78.75,83,0,6.91,BR,2022-03-10 00:33:23
15,15,Busselton,-33.6500,115.3333,79.05,41,100,6.02,AU,2022-03-10 00:38:17
20,20,Mahebourg,-20.4081,57.7000,77.29,94,40,2.30,MU,2022-03-10 00:38:19
21,21,Port Elizabeth,-33.9180,25.5701,71.89,78,0,29.93,ZA,2022-03-10 00:35:22
22,22,Faanui,-16.4833,-151.7500,81.23,70,34,12.59,PF,2022-03-10 00:38:20
23,23,Rikitea,-23.1203,-134.9692,79.07,68,90,6.69,PF,2022-03-10 00:38:20

In [18]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       5
Date          0
dtype: int64

In [19]:
preferred_cities_df.count()

City_ID       308
City          308
Lat           308
Lng           308
Max Temp      308
Humidity      308
Cloudiness    308
Wind Speed    308
Country       303
Date          308
dtype: int64

In [20]:
preferred_cities_df.notnull().sum()

City_ID       308
City          308
Lat           308
Lng           308
Max Temp      308
Humidity      308
Cloudiness    308
Wind Speed    308
Country       303
Date          308
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Butaritari      KI     81.36   3.0707  172.7902
4             Chuy      UY     69.10 -33.6971  -53.4616
6         Bengkulu      ID     78.28  -3.8004  102.2655
13           Pisco      PE     71.65 -13.7000  -76.2167
14      Vila Velha      BR     78.75 -20.3297  -40.2925
15       Busselton      AU     79.05 -33.6500  115.3333
20       Mahebourg      MU     77.29 -20.4081   57.7000
21  Port Elizabeth      ZA     71.89 -33.9180   25.5701
22          Faanui      PF     81.23 -16.4833 -151.7500
23         Rikitea      PF     79.07 -23.1203 -134.9692

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

#     "location": "48.8566, 2.3522"}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
        
        
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge
4,Chuy,UY,69.10,-33.6971,-53.4616,Nuevo Hotel Plaza
6,Bengkulu,ID,78.28,-3.8004,102.2655,Grage Hotel Bengkulu
13,Pisco,PE,71.65,-13.7000,-76.2167,Hotel San Isidro Oficial
14,Vila Velha,BR,78.75,-20.3297,-40.2925,Hotel Vitória Palace
...,...,...,...,...,...,...
565,Mill Valley,US,68.59,37.9060,-122.5450,Best Western Corte Madera Inn
566,Pointe Michel,DM,77.94,15.2500,-61.3833,Castle Comfort Lodge Dive Dominica
567,Nieuw Amsterdam,SR,78.82,5.8833,-55.0833,Hotel Stardust
569,Marzuq,YE,64.38,14.4000,46.4667,
573,Teknaf,BD,68.95,20.8624,92.3058,Forestry Guesthouse

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined

In [13]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [14]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

NameError: name 'hotel_df' is not defined