## Deliverable 2. Create a Customer Travel Destinations Map.

In [52]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [53]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,63.88,91,91,6.35,overcast clouds
1,1,Kapaa,US,22.0752,-159.3190,75.11,79,100,10.36,overcast clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,71.10,86,75,12.66,broken clouds
3,3,San Rafael Del Sur,NI,11.8485,-86.4384,86.97,39,3,12.06,clear sky
4,4,Cape Town,ZA,-33.9258,18.4232,77.41,40,0,11.50,clear sky

In [1]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?45
What is the maximum temperature you would like for your trip?95

In [56]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,63.88,91,91,6.35,overcast clouds
1,1,Kapaa,US,22.0752,-159.3190,75.11,79,100,10.36,overcast clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,71.10,86,75,12.66,broken clouds
3,3,San Rafael Del Sur,NI,11.8485,-86.4384,86.97,39,3,12.06,clear sky
4,4,Cape Town,ZA,-33.9258,18.4232,77.41,40,0,11.50,clear sky
5,5,Port Alfred,ZA,-33.5906,26.8910,69.67,74,1,14.25,clear sky
6,6,Chuy,UY,-33.6971,-53.4616,82.58,49,100,6.42,overcast clouds
7,7,Mataura,NZ,-46.1927,168.8643,41.49,100,46,2.68,scattered clouds
8,8,Sioux Lookout,CA,50.1001,-91.9170,30.27,93,100,6.91,overcast clouds
9,9,Ratnagiri,IN,16.9833,73.3000,78.03,77,46,2.33,scattered clouds

In [57]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [58]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,63.88,91,91,6.35,overcast clouds
1,1,Kapaa,US,22.0752,-159.3190,75.11,79,100,10.36,overcast clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,71.10,86,75,12.66,broken clouds
3,3,San Rafael Del Sur,NI,11.8485,-86.4384,86.97,39,3,12.06,clear sky
4,4,Cape Town,ZA,-33.9258,18.4232,77.41,40,0,11.50,clear sky
...,...,...,...,...,...,...,...,...,...,...
546,546,Tonj,SS,7.2737,28.6822,83.91,13,8,3.20,clear sky
547,547,Mehran,IR,33.1222,46.1646,53.15,25,0,10.49,clear sky
548,548,Vao,NC,-22.6667,167.4833,77.40,76,100,7.58,overcast clouds
549,549,Te Anau,NZ,-45.4167,167.7167,48.79,92,73,0.94,broken clouds
550,550,Bundaberg,AU,-24.8500,152.3500,68.29,97,40,8.05,scattered clouds

In [59]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Busselton,AU,63.88,overcast clouds,-33.6500,115.3333,
1,Kapaa,US,75.11,overcast clouds,22.0752,-159.3190,
2,Port Elizabeth,ZA,71.10,broken clouds,-33.9180,25.5701,
3,San Rafael Del Sur,NI,86.97,clear sky,11.8485,-86.4384,
4,Cape Town,ZA,77.41,clear sky,-33.9258,18.4232,
5,Port Alfred,ZA,69.67,clear sky,-33.5906,26.8910,
6,Chuy,UY,82.58,overcast clouds,-33.6971,-53.4616,
7,Mataura,NZ,41.49,scattered clouds,-46.1927,168.8643,
8,Sioux Lookout,CA,30.27,overcast clouds,50.1001,-91.9170,
9,Ratnagiri,IN,78.03,scattered clouds,16.9833,73.3000,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig